<% list.each do |comment| %>
    <div class="comments_list">
		<div id="comment">
      <div class="comment_user">
      	<%= link_to user_path(comment.user) do |user| %>
      		<span>
      			<%= image_tag(comment.user.avatar, size: '30') %>
      		</span>
      		<span class="username">
      			<%= comment.user.name %>:
      		</span>
      	<% end %>
      </div>
			<div class="comment_content">
				<%= comment.comment %>
			</div>
		</div>
    </div>
    <hr class="comment-separator">
<% end %>
