<% @notices.each do |notice| %>
	<% if notice.link.to_i > 0%>
		<% if notice.notice_type == "tip" %>
			<% @link = achievement_path(notice.link) %>
		<% else %>
			<% @link = post_path(notice.link) %>
		<% end %>
	<% else %>
		<% @link = user_path(notice.user_id)%>
	<% end %>
	<li<% if notice.seen.nil? %> class="active"<% end %>><%= link_to notice.message, @link %></li>
<% end %>
	