<div class="medium-8 medium-centered large-8 large-centered columns">
	<h1 class="edit-user-text">Redigera Profil</h1><br/>

	<%= render 'edit_avatar' %>

	<%= link_to 'Back', users_path, class: 'button success radius expand' %>
</div>
