<div class="user-content">

    <%= render 'search_user' %>
    <br><br>

    <% @users.each do |user| %>
        <div class="users">
          <%= link_to user, class: 'test' do %>
              <div class="user-name">
                 <%= user.name %><br>
              </div>
          <% end %>
        </div>
    <% end %>

</div>