<div class="likes">
	<% if likes.count > 0 %>
		<% likes.each do |like| %>
			<%= link_to user_path(like.user) do |user| %>
					<span>
						<%= image_tag(like.user.avatar, size: '30') %>
					</span>
					<span>
						<%= like.user.name%>
					</span>
			<% end %>
			<hr class="popup-hr">
		<% end %>
	<% else %>
		Ingen har gillat detta inlägg. 
	<% end %>
</div>