<div class="medium-12 medium-centered large-12 large-centered columns">
	<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix media-container">
		<%= render @posts %>
	</div>
</div>
<div class="load-more-container">
        <!-- hide our loading gif image so that we show it when making ajax call via jquery -->
	<%= image_tag "loading-gif.gif", style: "display:none;", class: "loading-gif" %>
	<%= link_to "Load More", posts_path, class: "load-more button medium" %>
</div>
