// Place all the styles related to the Achievements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

#achievement-container {
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  width: auto;
  height:auto;
}

.achievement-icons {
	margin-right: 7px;
	font-size: 50px;
	color: $blue!important;
}

.achievement-marker {
	line-height: 0;
	font-size: 45px;
	color: $red!important;
}

.achievements {
	padding: 0px;
	background: $white;
	color:white;
	float:left;
	margin:5px;
	width: 280px; 
	height:auto;
 	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.score {
	float: right;
	background: $success-color;
	width: 45px;
	height: 45px;
	-webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;

    h3 {
    	margin-top: 11px!important;
    	text-align: center;
    	float: none!important;
    	color: $white!important;
    	font-size: 16px;
    }
}

.locks {
	float: left;
	height: 45px;
	font-size:45px;
	line-height:0px;
	color: $blue!important;
}

.locks-icon {
	color: $blue!important;
}


.achievement_categories {
	border-bottom:1px solid #ccc;
	padding:5px;
	width:280px;
	height: 56px;

	h3 {
		float:right;
		margin-top:0px;
	}
}

.achievement_description {
	height:100px;
	padding:5px;
	h3 {
		font-size: 20px!important;
	}
}

.achievement_posts {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	height:100px;
	img {
		height:100%;
		width:33.3%;
		float:left;
		margin-left:0px;
	}
	
	video {
		height:100%;
		width:33.3%;
		float:left;
		margin-left:0px;
	}
}

.achievement_info {
	padding-bottom:5px;
	padding-left: 8px;
	padding-right: 8px;
}

.achievements-counters {
	height: 20px;
	color: #000000;
	width: 100%;
	font-size: 12px;
}

.users-completed {
	float: left;
}

.users-comments {
	float: right;
}

.achievement-actions {
	margin-top: 5px!important;
	margin-bottom: 2px!important;
	text-align: center;
}

.add-achievement {
	width: 50px!important;
	margin-top: -5px;
}

.achievement-ul {
	float: left;
	text-align: center;
	margin: 0;
	li {
		float: left;
		list-style-type: none;
		min-width: 66px;
		text-align: center;
		padding: 0 16px 0 16px;
	}
	
}

.dropdown-button {
	float:right;
	height:20px;
	width:20px;
}
