// Place all the styles related to the Achievements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#achievement-container {
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  width: auto;
  height:auto;
}

h1, h2, h3, p {
	color: #FFFFFF!important;
}
.achievements {
	padding: 0px;
	background: #008CBA;
	color:white;
	float:left;
	margin:5px;
	width: 280px; 
	height:auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.achievement_categories {
	border-bottom:1px solid black;
	padding:5px;
	width:280px;

	h3 {
		float:right;
		margin-top:0px;
	}
}



.achievement_description {
	height:120px;
	padding:5px;
}

.achievement_posts {
	border-top:1px solid black;
	border-bottom:1px solid black;
	height:100px;
	img {
		height:100%;
		width:33.3%;
		float:left;
		margin-left:0px;
	}
	
	video {
		height:100%;
		width:33.3%;
		float:left;
		margin-left:0px;
	}
}




.achievement_info {
	padding:5px;
	
	a:link, a:visited, a:hover, a:active {
	    color: #FFFFFF!important;
	}
}

