// Place all the styles related to the Achievements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#achievement-container {
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  width: auto;
  margin: 0 auto; /* this is the css that keeps the container centered in page */
  margin-left:0px;
  height:auto;
}

h1, h2, h3 {
	color: #FFFFFF!important;
}
.achievements {
	padding: 0px;
	background: #008CBA;
	color:white;
	float:left;
	margin:5px;
	width: 280px; 
	height:auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.achievement_categories {
	border-bottom:1px solid black;
	padding:5px;
	width:280px;

	h3 {
		float:right;
		margin-top:0px;
	}
}



.achievement_description {
	height:120px;
	padding:5px;
}

.achievement_posts {
	border-top:1px solid black;
	border-bottom:1px solid black;
	height:80px;
	img {
		height:100%;
		width:33.3%;
		float:left;
		margin-left:0px;
	}
}




.achievement_info {
	padding:5px;
	
	a:link, a:visited, a:hover, a:active {
	    color: #FFFFFF!important;
	}
}



@media only screen and (min-width: 1800px) {
	#achievement-container {
		margin-left: 70px;
	}
}

@media only screen and (min-width: 1300px) and (max-width:1500px) {
	#achievement-container {
		margin-left: 115px;
	}
}

@media only screen and (min-width: 1100px) and (max-width:1290px) {
	#achievement-container {
		margin-left: 40px;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
	#achievement-container {
		margin-left: 120px;
	}
}

@media only screen and (min-device-width : 700px) and (max-device-width : 800px) and (orientation : landscape) {
	#achievement-container {
		margin-left: 60px;
	}
}

@media only screen and (min-device-width : 700px) and (max-device-width : 800px) and (orientation : portrait) {
	#achievement-container {
		margin-left: 80px;
	}
}