/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */


@media only screen and (min-width: 1800px) {
	.media-container {
		margin-left: 70px!important;
	}
}

@media only screen and (min-width: 1300px) and (max-width:1500px) {
	.media-container {
		margin-left: 115px!important;
	}
}

@media only screen and (min-width: 1100px) and (max-width:1290px) {
	.media-container {
		margin-left: 40px!important;
	}
}

@media only screen and (min-width: 1000px) and (max-width:1100px) {
	.media-container {
		margin-left: 50px!important;
	}
}

@media only screen and (min-width: 640px) and (max-width:680px) {
	.media-container {
		margin-left: 25px!important;
	}
}

@media only screen and (min-device-width : 470px) and (max-device-width : 490px) and (orientation : landscape) {
	.media-container {
		margin-left: 75px!important;
	}
}

@media only screen and (min-device-width : 560px) and (max-device-width : 570px) and (orientation : landscape) {
	.media-container {
		margin-left: 120px!important;
	}
}

@media only screen and (min-device-width : 700px) and (max-device-width : 800px) and (orientation : landscape) {
	.media-container {
		margin-left: 60px!important;
	}
}

@media only screen and (min-device-width : 700px) and (max-device-width : 800px) and (orientation : portrait) {
	.media-container {
		margin-left: 80px!important;
	}
}

@media only screen and (min-device-width : 370px) and (max-device-width : 390px) and (orientation : portrait) {
	.media-container {
		margin-left: 26px!important;
	}
}

@media only screen and (min-device-width : 350px) and (max-device-width : 370px) and (orientation : portrait) {
	.media-container {
		margin-left: 20px!important;
	}
}

@media only screen and (min-device-width : 390px) and (max-device-width : 420px) and (orientation : portrait) {
	.media-container {
		margin-left: 40px!important;
	}
}

@media only screen and (min-device-width : 580px) and (max-device-width : 620px) and (orientation : portrait) {
	.media-container {
		margin-left: 130px!important;
	}
}

@media only screen and (min-device-width : 630px) and (max-device-width : 660px) and (orientation : landscape) {
	.media-container {
		margin-left: 12px!important;
	}
}

@media only screen and (max-width: 1024px) {
	.media-hide {
		display:none;
	}
}
