// Place all the styles related to the bucket_list controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#bucketlist-container {
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  width: auto;
  height:auto;
}
