// Place all the styles related to the bucket_list controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#bucketlist-container {
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  width: auto;
  margin: 0 auto; /* this is the css that keeps the container centered in page */
  margin-left:0px;
  height:auto;
}

@media only screen and (min-width: 1800px) {
	#bucketlist-container {
		margin-left: 70px;
	}
}

@media only screen and (min-width: 1300px) and (max-width:1500px) {
	#bucketlist-container {
		margin-left: 115px;
	}
}

@media only screen and (min-width: 1100px) and (max-width:1290px) {
	#bucketlist-container {
		margin-left: 40px;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
	#bucketlist-container {
		margin-left: 120px;
	}
}

@media only screen and (min-device-width : 700px) and (max-device-width : 800px) and (orientation : landscape) {
	#bucketlist-container {
		margin-left: 60px;
	}
}

@media only screen and (min-device-width : 700px) and (max-device-width : 800px) and (orientation : portrait) {
	#bucketlist-container {
		margin-left: 80px;
	}
}