// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Achievements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

.popup-hr {
	margin-top: 9px;
	margin-bottom: 8px;
}

.likes {
	display: block;
	span {
		margin-right: 5px;
	}
}

.changed {
	display: none!important;
}

.drop-left {
	margin-left: -50px!important;
}

#highscore-container {
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  width: auto;
  height:auto;
}

.highscores {
	float:left;
	background: $white;
	margin:5px;
	padding:5px;
	width: 280px; 
	height:auto;
 	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.highscore_position {
	border-bottom:1px solid black;
	padding:5px;
	width:280px;
	h3 {
		float:right;
	}
}

h1.black {
	text-align: center;
	color: $white;
}

.completion-bar {
	margin-top:5px;
	height:30px;
	width:100%;
	border:1px solid #ccc;
}

.completion-bar-profile {
	margin: 10px auto;
	height:30px;
	width:210px;
	border:1px solid #ccc;
}

.fill {
	height:28px;
	background: $success-color;
	p {
		margin-left:115px;
		color: $white;
	}

	p.user_profile {
		margin-left: 30px!important;
		color: $white;
		margin: 0;
		padding: 0;
		width: 150px;
	}
}

.highscore_user {
	height:120px;
	border-top:1px solid #ccc;
	img {
		height:100%;
		width:50%;
		float:left;
		margin-left:0px;
	}
	a {
		margin-left:30px;
	}
	h3 {
		margin-top:40px;
		font-size:18px;
	}
}

.no-padding {
	padding:0px!important;
}

.video-container {
	height:600px;
}

#video-hero {
	    width: 100%;
			height:600px;
	    object-fit: fill;
	    left: 0px;
	    top: 0px;
	    z-index: -1;
			margin-top:-24px;
}

.sign-up {
	float:left;
}

.how-to {
	float:left;
}

.white-text {
	color: #FFFFFF;
}

h2.white-text {
	font-size: 22px;
}

.step-box {
	height:50px;
}

.step-images {
	width: 80px!important;
	height: 50px;
	margin-top: 9px;
}

.step-text {
	margin-top:14px;
	float: left!important;
}

.join-footer {
	position: fixed!important;
	bottom: 0;
	background: $darkblue;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 230px;
}

.join-form-input {
	margin-bottom: -10px!important;
}

.join-button {
	height: 42px!important;
	padding-top: 12px!important;
}

@media only screen and (max-width:1025px) {
	.how-to {
		display: none;
	}
}