// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#masonry-container {
  background: #FFF;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  width: auto;
  margin: 0 auto; /* this is the css that keeps the container centered in page */
  margin-left:0px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.col3 { 
	float:left;
	margin:5px;
	width: 280px; 
	height:auto;
}

.post_user {
	height:35px;
	width:auto;
	margin:5px;
}

.post_user h3 {
	position:absolute;
	margin-top:-35px;
	margin-left:35px;
}

.post_user img {
	width:30px;
	height:30px;
}

.post_info {
	margin-left:5px;
}

.hide {
	display:none;
}

@media only screen and (min-width: 1800px) {
	#masonry-container {
		margin-left: 70px;
	}
}

@media only screen and (min-width: 1300px) and (max-width:1500px) {
	#masonry-container {
		margin-left: 115px;
	}
}

@media only screen and (min-width: 1100px) and (max-width:1290px) {
	#masonry-container {
		margin-left: 40px;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
	#masonry-container {
		margin-left: 120px;
	}
}

@media only screen and (min-device-width : 700px) and (max-device-width : 800px) and (orientation : landscape) {
	#masonry-container {
		margin-left: 60px;
	}
}

@media only screen and (min-device-width : 700px) and (max-device-width : 800px) and (orientation : portrait) {
	#masonry-container {
		margin-left: 80px;
	}
}