// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#masonry-container {
  background: #FFF;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  width: auto;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.col3 { 
	float:left;
	width: 280px; 
	height:auto;
	background: #008CBA;
}

.post_user {
	height:35px;
	width:auto;
}

.post_user h3 {
	position:absolute;
	margin-top:-35px;
	margin-left:35px;
}

.post_user img {
	width:30px;
	height:30px;
}

.post_info {
	margin-left:5px;
	display:inline-block;
}

.post_text {
	float:left;
}

.counter_info {
	position:relative;
	bottom:15px;
	left:35px;
}

.counter_info {
	position:relative;
	bottom:15px;
	left:35px;
}

.like-fix {
	
}

.hide {
	display:none;
}

#post {
	margin-top:5px;
	margin-left:auto;
	margin-right:auto;
	max-width:560px;
	height:auto;
	background: #008CBA;
}

#comment_list {
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	min-height:500px;
	overflow-y:scroll;
}

.post-modal {
	max-width:900px;
	padding:0px;
	background: #008CBA;
}

.bordered {
	border:1px solid black;
}

.post_image_popup{
	text-align:center;
 	img {
		width: 100%;
		max-width:560px;
		min-width:200px;
		height: auto;
		max-height:700px;
	}
}
