// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colors';

.user-profile {
	background: $darkblue;
}

p.user-settings-text {
    margin: 0;
    padding: 0;
}

#user-container {
  margin-bottom: 5px;
  clear: both;
  width: auto;
  height:170px;
}

.edit-profile-img-icon {
    font-size: 25px;
    color: #FFFFFF!important;
}

.follow-button {
    height: 30px!important;
    padding: 7px!important;
    font-size: 12px!important;
}


.follow-actions {
    width: 140px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
}

.user-avatar {
    width: 140px;
	padding: 0px;
	float: none!important;
    margin-left: auto;
    margin-right: auto;
	color:white;
	margin-top:15px; 
	height:110px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
	img {
		height:100%;
		width:140px!important;
	}
}

.center-children {
	text-align: center!important;
	padding: 0!important;
}

.user-info {
    margin-top: 50px;
}

h3.profile-heading {
    color: #FFFFFF;
}

.user-follow {
    height: 50px;
    padding-top: 10px;
    a {
        font-size: 18px!important;
        color: #FFFFFF!important;
    }
}

.user-progress {
    height: 50px;
}

a.follow {
    color: #FFFFFF!important;
}

.user-score {
    height: 50px;
    color: #FFFFFF;
    font-size: 18px;
    padding-top: 10px;
}

.users {
  border: 1px solid black;
  padding: 15px;
  margin-bottom: 5px;
}

.marginfix {
	margin-top:20px;
}

.bucketlist-achievements {
	display: none;
}

.toggle-active {
	background: #007095!important;
}

.rounded-bottom {
	-webkit-border-bottom-right-radius: 5px!important;
    -moz-border-bottom-right-radius: 5px!important;
    -o-border-bottom-right-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
    -webkit-border-bottom-left-radius: 5px!important;
    -moz-border-bottom-left-radius: 5px!important;
    -o-border-bottom-left-radius: 5px!important;
    border-bottom-left-radius: 5px!important;
}

.user-button {
	width: 280px!important;
}

.user-achievements {
	margin-top: 20px;
}

.bordered {
	border: 1px solid black;
}

.popup-text {
	color: #000000!important;
	font-size: 18px;
}

.edit-user-text {
    color: #FFFFFF;
    margin: 0;
}