// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'colors';

.ios-button {
    margin-left: 0!important;
}

input[type="checkbox"] { 
    position: absolute;
    opacity: 0;
}

/* Normal Track */
input[type="checkbox"].ios-switch + div {
    vertical-align: middle;
    width: 40px;    height: 20px;
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: .4s;
    -webkit-transition-property: background-color, box-shadow;
    box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
    margin: 15px 1.2em 15px 2.5em;
}


/* Big Track */
input[type="checkbox"].bigswitch.ios-switch + div {
    width: 50px;    
    height: 25px;
}

/* Green Track */
input[type="checkbox"].green.ios-switch:checked + div {
    background-color: #43AC6A;
    border: 1px solid #43AC6A;
    box-shadow: inset 0 0 0 10px #43AC6A;
}

/* Normal Knob */
input[type="checkbox"].ios-switch + div > div {
    float: left;
    width: 18px; height: 18px;
    border-radius: inherit;
    background: #ffffff;
    -webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
    -webkit-transition-duration: 0.4s;
    -webkit-transition-property: transform, background-color, box-shadow;
    -moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
    -moz-transition-duration: 0.4s;
    -moz-transition-property: transform, background-color;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    margin-top: 0px;
    margin-left: 1px;
}

/* Big Knob */
input[type="checkbox"].bigswitch.ios-switch + div > div {
    width: 23px; 
    height: 23px;
    margin-top: 0px;
}

/* Checked Big Knob */
input[type="checkbox"].bigswitch.ios-switch:checked + div > div {
    -webkit-transform: translate3d(25px, 0, 0);
    -moz-transform: translate3d(16px, 0, 0);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
}

/* Green Knob */
input[type="checkbox"].green.ios-switch:checked + div > div {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 162, 63,1);
}

.user-name {
    margin-bottom: 30px!important;
}

.user-profile {
	background: $darkblue;
}

p.user-settings-text {
    margin: 0;
    padding: 0;
}

#user-container {
  margin-bottom: 5px;
  clear: both;
  width: auto;
  height:170px;
}

.edit-profile-img-icon {
    font-size: 25px;
    color: #FFFFFF!important;
}

.follow-button {
    height: 30px!important;
    padding: 7px!important;
    font-size: 12px!important;
}


.follow-actions {
    width: 140px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
}

.user-avatar {
    width: 140px;
	padding: 0px;
	float: none!important;
    margin-left: auto;
    margin-right: auto;
	color:white;
	margin-top:15px; 
	height:110px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
	img {
		height:100%;
		width:140px!important;
	}
}

.center-children {
	text-align: center!important;
	padding: 0!important;
}

.user-info {
    margin-top: 50px;
}

h3.profile-heading {
    color: #FFFFFF;
}

.user-follow {
    height: 50px;
    padding-top: 10px;
    a {
        font-size: 18px!important;
        color: #FFFFFF!important;
    }
}

.user-progress {
    height: 50px;
}

a.follow {
    color: #FFFFFF!important;
}

.user-score {
    height: 50px;
    color: #FFFFFF;
    font-size: 18px;
    padding-top: 10px;
}

.users {
  border: 1px solid black;
  padding: 15px;
  margin-bottom: 5px;
}

.marginfix {
	margin-top:20px;
}

.bucketlist-achievements {
	display: none;
}

.toggle-active {
	background: #007095!important;
}

.rounded-bottom {
	-webkit-border-bottom-right-radius: 5px!important;
    -moz-border-bottom-right-radius: 5px!important;
    -o-border-bottom-right-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
    -webkit-border-bottom-left-radius: 5px!important;
    -moz-border-bottom-left-radius: 5px!important;
    -o-border-bottom-left-radius: 5px!important;
    border-bottom-left-radius: 5px!important;
}

.user-button {
	width: 280px!important;
}

.user-achievements {
	margin-top: 20px;
}

.bordered {
	border: 1px solid black;
}

.popup-text {
	color: #000000!important;
	font-size: 18px;
}

.edit-user-text {
    color: #FFFFFF;
    margin: 0;
}