<div class="medim 10 medium-centered large10 large-centered columns">
    <%= render 'search_achievement' %>	
</div>
<div id="achievement-container" class="achievement-content medium-12 medium-centered large-12 large-centered columns media-container">
   <%= render @achievements %>
</div>


<!-- for loading more posts
<div class="load-more-container">
      hide our loading gif image so that we show it when making ajax call via jquery 
	<%= image_tag "loading-gif.gif", style: "display:none;", class: "loading-gif", height: 30, width: 30 %>
	<%= link_to "Load More", achievements_path, class: "load-more button expand" %>
</div>
 -->

