<div class="medim 10 medium-centered large10 large-centered columns">
    <%= render 'search_achievement' %>	
</div>
<div id="achievement-container" class="achievement-content medium-12 medium-centered large-12 large-centered columns media-container">
   <%= render @achievements %>
</div>
