<div class="medium-12 medium-centered large-12 large-centered columns">
	<div id="achievement-container" class="media-container">
		<%= render @achievement %>
	</div>
	<div id="masonry-container" class="transitions-enabled infinite-scroll clearfix media-container">
		<div class="done-achievements">
			<%= render @posts %>
		</div>
	</div>
</div>
<script type="text/javascript">
	achievement = <%= @achievement.id %>;
</script>